:root {
    --cor-botao-ver-mais: #9353FF;
    --cor-e-icone-rodape: #DAFF01;
}

.texto-menor {
    font-size: 13px;
}

/* sempre que for utilizar flex é de extrema importância deixar definido o tamanho dos elementos filhos, para que não ocorra um comportamento inesperado/ocupem toda a largura disponível */
.divs-facilidades {
    width: 325px;
}

.btn-lilas {
    background-color: var(--cor-botao-ver-mais) !important ; 
}

.btn-lilas:hover {
    background-color: #7a40cc !important;
}

.verde_limao {
    color: var(--cor-e-icone-rodape);
}