/* configurações padrões css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* garantindo que o body e html utilizem 100% da sua altura dísponivel, fazendo com que o footer fique alocado na parte inferior da página corretamente */
body,
html {
    height: 100%;
}

:root {
    --cor-botao-ver-mais: #9353FF;
    --cor-e-icone-rodape: #DAFF01;
}

.texto-menor {
    font-size: 13px;
}

/* sempre que for utilizar flex é de extrema importância deixar definido o tamanho dos elementos filhos, para que não ocorra um comportamento inesperado/ocupem toda a largura disponível */
.divs-facilidades {
    width: 325px;
}

.btn-lilas {
    background-color: var(--cor-botao-ver-mais) !important;
}

.btn-lilas:hover {
    background-color: #7a40cc !important;
}

.verde_limao {
    color: var(--cor-e-icone-rodape);
}

/* 
  * defininddo a posição da div com os textos dos banners (porém apenas para telas de tablets e desktops aqui)
  */
.posicao {
    top: 40%;
}

/* definindo que até essa largura (tablet) os elementos aqui dentro terão as configs que irei colocar */
@media screen and (max-width: 768px) {
    .formulario h5 {
        font-size: 1em;
    }

    /* 
  * defininddo a posição da div com os textos dos banners (porém apenas para telas de celulares aqui)
  */
    .posicao {
        top: 60%;
    }
}

/* para poder manipular o elemento corretamente com o flex, quero essa largura pra ele apenas nessas telas */
@media screen and (min-width: 1200px) {
    .formulario {
        width: 50vw;
    }
}